body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
.rezerwat-mp4 {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
}
.nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: center;
}

.nav .name {
  font-size: 40px;
  color: rgb(53, 47, 47);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  margin: 5px 0;
}
.nav .name small {
  font-size: 20px;
}
.nav-menu ul {
  display: flex;
  list-style: none;
}
.nav-menu ul a {
  text-decoration: none;
  color: rgb(53, 47, 47);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  margin: 0 25px;
  transition: 0.4s;
}
.nav-menu ul a:hover {
  color: rgb(201, 201, 202);
}
.legend {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  font-size: 20px;
  line-height: 1.5;
}
.legend .intro {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 10px;
}
.legend img {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  padding: 30px;
}
.main-story h3 {
  font-size: 40px;
  margin-bottom: 15px;
  padding: 10px;
  text-shadow: 5px 5px 5px rgba(68, 67, 67, 0.3);
}
.part {
  margin-bottom: 15px;
  padding: 10px;
}
.img-castle,
.img-przadki {
  text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
}
.footer {
  background-color: black;
  width: 100%;
  height: 100px;
  margin-top: 100px;
}
.open-source {
  width: 100%;
  color: rgb(201, 201, 202);
  background-color: rgba(118, 116, 116, 0.724);
  text-align: center;
  padding: 5px;
}
.open-source a {
  text-decoration: none;
  color: rgb(201, 201, 202);
}
.open-source a:hover {
  color: white;
}
